@using ActionCalculator.Utilities
@using System.Text
@using System.Text.RegularExpressions

<MudItem>
    <MudPaper Class="player-summary">
        <h6>Player @(PlayerNumber)</h6>
        <MudText Class="player-skills">@($"Skills: {Player.Description(CurrentSeason)}")</MudText>
        
        @if (Player.Id != CurrentPlayerId)
        {
            <MudButton OnClick="EditPlayer" Variant="Variant.Outlined">Edit</MudButton>
        }
    </MudPaper>
</MudItem>

@code
{
    [CascadingParameter(Name = "Season")]
    public string Season { get; set; } = "Season 3";

    [Parameter]
    public Player Player { get; set; } = null!;

    [Parameter]
    public int PlayerNumber { get; set; }

    [Parameter]
    public Guid CurrentPlayerId { get; set; }

    [Parameter]
    public EventCallback<Guid> OnEditPlayer { get; set; }

    private ActionCalculator.Models.Season CurrentSeason =>
        Season == "Season 2" ? ActionCalculator.Models.Season.Season2 : ActionCalculator.Models.Season.Season3;

    private void EditPlayer()
    {
        OnEditPlayer.InvokeAsync(Player.Id);
    }
}
